/* =========================
   SECTION DIVIDER
========================= */

.section-divider {
  margin: 50px auto 30px;
  margin-left: 0;
  width: 350px;
  padding: 10px 20px;
  text-align: left;

  background: linear-gradient(
    135deg,
    var(--pink-light),
    var(--pink-main)
  );

  border-radius: 24px;
  color: white;
  box-shadow: 0 12px 30px rgba(228, 86, 149, 0.35);
}

.section-divider h3 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 6px;
}

.section-divider p {
  font-size: 14px;
  opacity: 0.95;
}

/* Mobile */
@media (max-width: 768px) {
  .section-divider h3 {
    font-size: 18px;
  }
}
/* =========================
   PRODUCT SECTION
========================= */

.product-section {
  padding-bottom: 60px;
}
